<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.cnzrg.mysafe"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/mysafe_icon3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mysafe_icon3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.SetupOverActivity" />
        <activity android:name=".activity.Setup1Activity" />
        <activity android:name=".activity.Setup2Activity" />
        <activity android:name=".activity.Setup3Activity" />
        <activity android:name=".activity.Setup4Activity" />
        <activity android:name=".activity.LinkManListActivity" />
        <activity android:name=".activity.AToolActivity" />
        <activity android:name=".activity.QueryPhoneAddressActivity" />
        <activity android:name=".activity.BlackNumberActivity" />
        <activity
            android:name=".activity.ToastLocationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--<receiver android:name=".receiver.BootReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"></action>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver android:name=".receiver.SmsReceiver">
            <intent-filter>
                <!--为了关联系统短信的广播的过滤提交,编译版本至少4.1.2-->
                <action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
            </intent-filter>
        </receiver>

        <service android:name=".service.LocationService"></service>
        <service android:name=".service.PhoneAddressService"></service>
        <service android:name=".service.BlackNumberService"></service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="top.cnzrg.mysafe.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>